<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eagleconferenicing  mumbai automation testing">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Eagleconfernicng test cases">

		<classes>

			<class name="com.eagle.qa.testcases.HomepageTest" />
			<class name="com.eagle.qa.testcases.LoginpageTest" />


		</classes>
	</test>






</suite>